<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer_section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">alpha</h2>
        <svg class="icon icon--grey collapsible__chevron">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">SQL</a></li>
          <li><a href="#">HTML CSS JS</a></li>
          <li><a href="#">.NET</a></li>
          <li><a href="#">PYTHON</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Beta</h2>
        <svg class="icon icon--grey collapsible__chevron">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">SQL</a></li>
          <li><a href="#">HTML CSS JS</a></li>
          <li><a href="#">.NET</a></li>
          <li><a href="#">PYTHON</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">omega</h2>
        <svg class="icon icon--grey collapsible__chevron">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">SQL</a></li>
          <li><a href="#">HTML CSS JS</a></li>
          <li><a href="#">.NET</a></li>
          <li><a href="#">PYTHON</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2023 DoubleKing</p>
    </section>
  </div>
</footer>
